
*{
    box-sizing: border-box;
}

html, body{
    margin: 0;
    height: 100%;
    font-size: 1rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    line-height: 1.8rem;
    color: #111;
	width: 100%;
}
ul.navbar-nav {
	flex-direction: inherit;
}
iframe {margin: 0 auto;}
li {
	margin: 0 auto;
	}

h2{
    color: #111;
    padding: 2% 0; 
}
.navbar {
	box-shadow: 0 2px 2px #989898;
}
.navbar img {
	width: 300px;
}

.bg{
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    z-index:-1;
}

.one {
   background-image: linear-gradient(90deg, rgba(131,58,180,.5) 0%, rgba(253,29,29,.5) 50%, rgba(252,176,69,.5) 100%),url(https://images.pexels.com/photos/994197/pexels-photo-994197.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940
);
    min-height: 100%;
}
.one button {background: #000;color: #fff;text-transform: uppercase;z-index: 1;}
.one button:hover { color: #000; background: #fff;}
.two {
    background-image: url(https://images.pexels.com/photos/932402/pexels-photo-932402.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260
);
    min-height: 500px;
}

.three{
    background-image: url(https://images.pexels.com/photos/993877/pexels-photo-993877.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260
);
     min-height: 500px;
}
.four {
	 background-image: url(https://images.pexels.com/photos/318236/pexels-photo-318236.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260
);
    min-height: 500px;
}
.five {
	background-image: url(https://images.pexels.com/photos/907673/pexels-photo-907673.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260
);
     min-height: 500px;
}
.six {
	background-image: url(https://images.pexels.com/photos/905336/pexels-photo-905336.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
     min-height: 500px;
}
.seven {
	background-image:url(https://cdn.shopify.com/s/files/1/1715/6079/files/TCH8752-Edit-Edit_1024x1024.jpg?v=1522750768);
    min-height: 100%;
    color: #333;
}
.seven h3 { color: #333; border-bottom: 1px solid #333; display: inline-block; }

.section{
    text-align: center;
    padding: 50px 80px;
    box-shadow: 0 2px 2px #989898;
    z-index:1;
}

.section-ligth{
    background-color: #f4f4f4;
    color: #666;
    opacity: .5;
}
.icons_guide img {
	width: 50px;
	max-width: 100%;
	padding: 0 2%;
}
.thumbnail { width: 100px; 
	height: 100px; 
	background-size: cover; 
	background-image: url('https://images.pexels.com/photos/774909/pexels-photo-774909.jpeg?auto=compress&cs=tinysrgb&h=350');
	background-position: center center;
    	border-radius: 50%;
}

.s_app { 
	background: url('images/mobile.png'); 
	background-position: 18% 100%;
    background-repeat: no-repeat;
    background-size: 30%;
	    overflow-x: hidden;
}
.m_app {
	height: 500px;
	background-color: #f4f4f4;
    color: #666;
	box-shadow: 0 2px 2px #989898;
    z-index:1;
	text-align: center;
	padding-top:50px;
	    overflow-x: hidden;
}
.support img {
	max-width: 100%;
	width: 20%;
	margin-right: 5%;
}
.ptext{
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    color: #000;
    font-size: 1.2rem;
    letter-spacing: 8px;
    text-transform: uppercase;
    opacity: 0.7;
    transition: 1s ease;
}
.mtext{
    position: absolute;
    top: 40%;
    width: 100%;
    text-align: center;
    color: #000;
    font-size: 1.2rem;
    letter-spacing: 8px;
    text-transform: uppercase;
    transition: 1s ease;
}

.ptext:hover{
    opacity: 0.9;    
}

.ptext .border {
    border-radius: 100px;
    background-color: #111;
    color: #fff;
    padding: 20px;
}

.social_media .fa{
color: #fff;
font-size: 2rem;
margin: 0 auto;
padding: 10px;
}


@media(max-width:568px) {
	ul.navbar-nav {flex-direction: column;}
        .bg {background-attachment: scroll;}
	.bg p {font-size: 1rem;}
	.one .ptext {top: 20%;}
	.ptext .border {padding:5px; font-size: .8rem}
	.navbar img {width: 150px;}
	.thumbnail_1 { padding: 5%;}
	.section-light {padding: 5%;}
	iframe {width: 100%;height: auto;}
	.user_photo .thumbnail { width: 50px; height: 50px; margin: 50% auto;}
	.s_app { background-position: 52% 100%;background-size: 50%;}
}
